@model IEnumerable<EmPCRUD280524.Models.tblEmp>
@{
    ViewBag.Title = "Index";
}

<h2>Show All Employees</h2>
<table>
	<tr>
		<td>Employee Name</td>
		<td>Employee ContactNumber</td>
		<td></td>
	</tr>
	@foreach (var e in Model)
	{
		<tr>
			<td>@e.name</td>
			<td>@e.mobile</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { @id = e.id })
				@Html.ActionLink("Delete", "Delete", new { @id = e.id })
					</td>
		</tr>
	}
</table>


